/* Responsive for Tablet */
@media (min-width: 768px) and (max-width: 1024px) {
  /* Default CSS */
  h1,h2,h3,h4,h5,h6 {
    word-break: keep-all;
  }
  /* ############ Common CSS ############ */
  .content [class*=inner]:not(.main-slider-inner, .title-inner, .slogan-inner) {
    width: 100%;
    padding: 80px 20px;
  }
  .content {
    margin-top: 80px;
  }
  .always-inner {
    width: 100%;
  }
  .content {
    margin-bottom: 0;
  }
  section.title .title-inner,
  section.slogan .slogan-inner {
    width: 100%;
    padding: 30px 20px;
  }
  section.title .title-inner h2 {
    font-size: 25px;
  }

  /* ############ Header CSS ############ */
  .header-inner {
    width: 100%;
    height: 80px;
    padding: 0 10px;
    position: relative;
  }
  .trigger {
    display: block;
  }
  .btn-trigger {
    font-size: 30px;
    background-color: transparent;
    color: #333;
  }
  .btn-trigger.active {
    color: var(--primary-color);
  }
  .header-logo {
    display: flex;
    margin: auto;
  }
  .header-logo a {
    margin-right: 30px;
  }
  .header-logo a:nth-child(3):not(.home .header-logo a:nth-child(3)) {
    display: none;
  }
  .header-logo a img {
    height: 38px;
  }
  /* GNB */
  .gnb-outer {
    display: none;
  }
  .gnb-outer-mobile {
    background-color: #fff;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    visibility: visible;
    opacity: 1;
    padding: 0 15px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  }
  .gnb {
    flex-direction: column;
    gap: 10px;
  }
  .gnb li {
    height: auto;
    font-size: 14px;
  }
  .gnb li > a .btn-mobile-dropdown {
    display: block;
    position: absolute;
    top: 6px;
    right: 10px;
    background-color: transparent;
    font-size: 16px;
    color: #333;
  }
  .gnb li:last-child {
    margin-bottom: 10px;
  }
  .gnb li > a {
    padding: 10px 0;
    border-bottom: 1px solid #e7e7e7;
  }
  .gnb li:last-child > a {
    border-bottom: none;
  }
  .gnb li:hover > a {
    color: #333;
  }
  .gnb li > a:after {
    display: none;
  }
  /* Dropdown */
  .dropdown {
    position: static;
    top: 100%;
    width: 100%;
    border: none;
    display: none;
    visibility: visible;
    opacity: 1;
    transition: none;
    padding-left: 20px;
  }
  .dropdown a {
    padding: 10px 0;
  }
  .dropdown a:hover {
    color: #333;
  }

  /* ############ Footer CSS ############ */
  footer {
    position: static;
  }
  .footer-inner {
    width: 100%;
    padding: 60px 20px;
  }

  /* ############ Home Page : index.html ############ */

  /* Section: Intro */
  .intro-headline h2 {
    font-size: 23px;
  }
  .intro-headline h2 br {
    display: none;
  }
  .intro-items {
    gap: 10px;
  }
  .intro-item a {
    width: 100%;
  }

  /* Section: Always */
  .always-headline h1 {
    font-size: 70px;
  }
  .always-headline h2 {
    font-size: 23px;
  }
  .always-headline h2 br {
    display: none;
  }
  .always-item p {
    font-size: 14px;
  }
  .always-item p br {
    display: none;
  }

  /* Section: Expert */
  /* Expert */
  .expert-items {
    flex-direction: column;
  }
  .expert-item a img {
    width: 60%;
  }
  /* Partner */
  .partner-items {
    flex-wrap: wrap;
    justify-content: center;
  }

  /* ############ Introduce Page : greeting.html ############ */

  /* Section: Mission */
  .mission-item {
    flex: 1;
  }
  .mission-title span {
    font-size: 23px;
  }
  .mission-title span b {
    font-size: 20px;
  }
  .mission-desc ul li {
    font-size: 15px;
  }
  .mission-desc ul li br {
    display: none;
  }
}