/* Google Web Font */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

/* Font Icon : Bootstrap Icons CDN */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");

/* Variables */
:root {
  /* Font Family */
  --kr-font: 'Noto Sans KR', sans-serif;
  --en-font: 'Open Sans', sans-serif;
  --mission-main-font: 'Do Hyeon', sans-serif;
  --mission-second-font: 'Roboto', sans-serif;
  /* Text Color */
  --dark-black: #333;
  --davy-gray: #555;
  --gray: #777;
  --border-color: #E7E7E7;
  /* Object Color */
  --primary-color: #FFAE00;
  --secondary-color : #EF8200;
  --main-desc-bgc: #9E0B0F;
  --sub-desc-bgc: #008FC9;
  --performance-bgc: #5BC0DE;
  --form-headline-bgc: #D9534F;
  --section-bgc: #F9F9F9;
}

/* Default CSS */
* {
  box-sizing: border-box;
  font-family: var(--kr-font);
}
body {
  margin: 0;
  font-size: 15px;
  font-weight: 300;
  color: var(--dark-black);
  background-color: #fff;
}
::selection {
  background-color: var(--primary-color);
  color: #fff;
}
a {
  text-decoration: none;
  color: var(--dark-black);
  cursor: pointer;
}
h1,h2,h3,h4,h5,h6 {
  margin: 0;
  font-weight: normal;
}
h1 {
  font-size: 32px;
}
h2 {
  font-size: 30px;
}
h3 {
  font-size: 24px;
}
h4 {
  font-size: 20px;
}
h5 {
  font-size: 17px;
}
p, ul {
  margin: 0;
}
ul {
  padding: 0 20px;
}
em {
  font-style: normal;
}
button {
  cursor: pointer;
  border: none;
}
input, select, textarea, button {
  outline: none;
}
img {
  border-radius: 5px;
}

/* ############ Common CSS ############ */
.container {
  width: 100%;
  position: relative;
}
.content [class*=inner]:not(.main-slider-inner, .title-inner, .slogan-inner) {
  width: 1100px;
  padding: 80px 0;
  margin: auto;
}
.content {
  margin-top: 95px;
  margin-bottom: 317px;
  position: relative;
  z-index: 10;
}
section {
  width: 100%;
  background-color: #fff;
}
section:nth-child(odd) {
  background-color: var(--section-bgc);
}
section.title .title-inner,
section.slogan .slogan-inner {
  width: 1100px;
  margin: auto;
  padding: 50px 0;
  overflow-x: hidden;
}
section.slogan .slogan-inner {
  text-align: center;
  word-break: keep-all;
}
.items-headline {
  margin-bottom: 30px;
}
.items-headline h3 {
  font-weight: bold;
}
/* ############ Header CSS ############ */
header {
  background-color: #fff;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  transition: .1s;
  z-index: 100;
}
.header-inner {
  background-color: #fff;
  width: 1100px;
  height: 95px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.trigger {
  display: none;
}
.header-logo a {
  display: inline-block;
  margin-right: 20px;
}
.header-logo a img {
  height: 53px;
}
/* GNB */
.gnb {
  font-weight: 400;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 30px;
}
.gnb-outer-mobile {
  width: 0;
  position: absolute;
  display: none;
  visibility: hidden;
  opacity: 0;
}
.gnb li {
  height: 95px;
  position: relative;
}
.gnb li > a {
  display: flex;
  align-items: center;
  height: 100%;
  position: relative;
  transition: .3s;
}
.gnb li:hover > a {
  color: var(--primary-color);
}
.gnb li > a:after {
  content: '';
  width: 100%;
  height: 5px;
  background-color: var(--primary-color);
  position: absolute;
  left: 0;
  bottom: 0;
  opacity: 0;
  transition: .3s;
}
.gnb li:hover > a:after {
  opacity: 1;
}
.gnb li .btn-mobile-dropdown {
  display: none;
}
/* Dropdown */
.dropdown {
  width: 230px;
  position: absolute;
  left: 0;
  top: 100%;
  background-color: #fff;
  border: 1px solid #ddd;
  visibility: hidden;
  opacity: 0;
  transition: .1s;
}
.gnb li:hover .dropdown {
  opacity: 1;
  visibility: visible;
}
.dropdown a {
  display: block;
  padding: 12px 10px;
  border-bottom: 1px solid #ddd;
  font-size: 14px;
  transition: .3s;
}
.dropdown a:last-child {
  border-bottom: none;
}
.dropdown a:hover {
  color: var(--primary-color);
}
/* GNB Check */
.home .gnb li:nth-child(1) > a,
.introduce .gnb li:nth-child(2) > a,
.business .gnb li:nth-child(3) > a,
.performance .gnb li:nth-child(4) > a,
.estimate .gnb li:nth-child(5) > a {
  color: var(--primary-color);
}
.home .gnb li:nth-child(1) > a:after,
.introduce .gnb li:nth-child(2) > a:after,
.business .gnb li:nth-child(3) > a:after,
.performance .gnb li:nth-child(4) > a:after,
.estimate .gnb li:nth-child(5) > a:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 5px;
  opacity: 1;
  background-color: var(--primary-color);
}

/* ######## Go TO Top ######## */
.gototop {
  position: fixed;
  right: 35px;
  bottom: 65px;
  z-index: 10;
  display: none;
}
.btn-gototop {
  width: 50px;
  height: 50px;
  border-radius: 5px;
  background-color: var(--primary-color);
  color: #fff;
  font-size: 28px;
  position: relative;
  transition: .2s;
}
.btn-gototop i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -55%);
}
.btn-gototop:hover {
  background-color: #EF8200;
}

/* ############ Footer CSS ############ */
footer {
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 0;
  background-color: #424242;
  border-top: 5px solid #1E73BE;
}
.footer-inner {
  width: 1100px;
  margin: auto;
  padding: 60px 0;
}
.footer-company-info b {
  font-family: var(--en-font);
  color: var(--primary-color);
  font-weight: normal;
  font-size: 17px;
}
.footer-company-info p {
  color: #fff;
  line-height: 1.8em;
  font-weight: lighter;
  margin: 20px 0;
}
.footer-company-info em {
  color: var(--gray);
}

/* ############ Home Page : index.html ############ */

/* Section: Main Slider */
.main-slider {
  width: 100%;
}
.main-slider-inner {
  width: 100%;
}
.main-slider-items {
  opacity: 0;
  visibility: hidden;
  position: relative;
}
.main-slider-items.slick-initialized {
  visibility: visible;
  opacity: 1;    
}
.main-slider-item {
  width: 100%;
  cursor: grab;
  outline: none;
}
.main-slider-item img {
  width: inherit;
}
.main-slider-item img:nth-child(2) {
  display: none;
}

/* Slick Slider Custom */
.main-slider-items .slick-arrow {
  position: absolute;
  top: 50%;
  transform: scale(2);
  z-index: 10;
  opacity: 0;
  visibility: hidden;
  transition: .4s;
  color: #000;
}
.main-slider-items:hover .slick-arrow {
  opacity: 1;
  visibility: visible;
}
.main-slider-items .slick-prev {
  left: 30px;
}
.main-slider-items .slick-arrow:before {
  content: '';
  font-family: bootstrap-icons;
  color: #000;
  background: url(../images/right-arrow.png) no-repeat 0px 0px;
  background-size: cover;
  width: 20px;
  height: 20px;
  display: inline-block;
  opacity: 1;
}
.main-slider-items .slick-prev:before {
  transform: rotate(180deg);
}
.main-slider-items .slick-next {
  right: 30px;
}

/* Section: Intro */
.intro-headline {
  text-align: center;
}
.intro-headline b {
  font-weight: normal;
  background-color: var(--primary-color);
  color: #fff;
}
.intro-items {
  display: flex;
  justify-content: center;
  margin-top: 35px;
}
.intro-item {
  flex: 1;
  text-align: center;
}
.intro-item a {
  display: inline-block;
  width: 250px;
  overflow: hidden;
}
.intro-item a img {
  display: block;
  width: 100%;
  transition: .4s;
}
.intro-item a:hover img {
  transform: scale(1.04);
}
.intro-item span {
  margin-top: 10px;
  display: block;
  font-size: 16px;
}

/* Section: Always */
.always-headline {
  text-align: center;
  margin-bottom: 70px;
}
.always-headline h1 {
  font-size: 80px;
  font-family: var(--en-font);
  font-weight: lighter;
  margin-bottom: 40px;
}
.always-items {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}
.always-items a {
  flex: 1;
}
.always-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.always-item img {
  width: 50px;
  height: 50px;
}
.always-item b {
  font-size: 32px;
  margin: 25px 0 10px 0;
}
.always-item p {
  color: var(--gray);
  font-size: 14px;
  line-height: 1.7em;
}

/* Section: Expert */
/* Expert */
.expert-items {
  display: flex;
  gap: 30px;
}
.expert-item {
  text-align: center;
}
.expert-item:nth-child(1) {
  flex: 2;
}
.expert-item:nth-child(2) {
  flex: 1;
}
.expert-item h2 span {
  color: var(--primary-color);
  font-family: var(--en-font);
}
.expert-item h3 {
  font-weight: lighter;
  margin: 20px 0;
  line-height: 1.6em;
}
.performance-link {
  display: inline-block;
  font-weight: bold;
  color: #fff;
  background-color: var(--primary-color);
  padding: 15px 23px;
  border-radius: 5px;
  transition: .3s;
}
.performance-link:hover {
  background-color: var(--dark-black);
}
.expert-item a img {
  width: 100%;
}
/* Tel */
.tel-items {
  margin: 80px 0;
  display: flex;
  gap: 90px;
}
.tel-item img {
  height: 70px;
}
.tel-item span {
  display: block;
  font-size: 18px;
  margin-top: 20px;
  font-weight: bold;
}
/* Partner */
.partner-items {
  display: flex;
  justify-content: space-between;
}

/* ############ Home Page : notice.html ############ */

/* Section: Notice */
.notice-items {
  display: flex;
  align-items: flex-start;
  gap: 30px;
}
.notice-item {
  flex: 1;
}
.notice-item:nth-child(1) {
  border: 1px solid var(--border-color);
  padding: 15px;
}
.notice-item h5 em {
  color: blue;
}
.notice-item h3 b em {
  color: red;
}
.notice-item p em {
  color: red;
  text-decoration: underline;
}
.notice-item:nth-child(2) > img {
  width: 100%;
}

/* ############ Introduce Page : greeting.html ############ */

/* Section: Greeting */
.greeting-items {
  display: flex;
  gap: 30px;
}
.greeting-item {
  flex: 1;
}
.greeting-item p {
  line-height: 1.5em;
}
.greeting-item > div {
  margin-top: 20px;
  display: flex;
  gap: 30px;
  justify-content: center;
}
.greeting-item > div b {
  display: block;
}
.greeting-item img {
  width: 100%;
}

/* Section: Mission */
.mission-items {
  width: 100%;
  border-radius: 20px;
  padding: 30px 25px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  overflow: hidden;
}
.mission-item {
  flex: 1;
}
.mission-item img {
  width: 100%;
}
.mission-title {
  text-align: center;
  border-bottom: 1px solid var(--primary-color);
  margin-bottom: 18px;
}
.mission-title span {
  font-family: var(--mission-main-font);
  color: var(--secondary-color);
  font-size: 36px;
}
.mission-title span b {
  font-family: var(--mission-second-font);
  color: var(--primary-color);
  font-size: 30px;
}
.mission-desc ul li {
  font-weight: 400;
  font-size: 19px;
  color: var(--davy-gray);
}
.mission-desc ul li b {
  color: var(--secondary-color);
}
.mission-desc ul li::marker {
  color: var(--primary-color);
}

/* Section: Map */
.map-items {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.map-item {
  display: flex;
  gap: 30px;
}
.map-item > div {
  flex: 1;
}
.map-wrapper iframe {
  width: 100%;
  height: 400px;
}
.map-desc h4 {
  font-weight: bold;
  margin-bottom: 10px;
}
.map-desc ul li {
  line-height: 2em;
}

/* ############ Introduce Page : history.html ############ */

/* Section: History */
.history-items {
  display: flex;
  gap: 30px;
}
.history-item {
  flex: 1;
}
.history-item img {
  width: 100%;
}
.history-item ul li {
  line-height: 1.8em;
  list-style: square;
}

/* ############ Introduce Page : license.html ############ */

/* Section : License */
.license-items {
  display: flex;
  gap: 30px;
}
.license-item {
  flex: 1;
  text-align: center;
  font-size: 17px;
}
.license-item a img {
  width: 100%;
}
/* License Lightbox Overlay */
.lightbox-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transition: .3s;
  z-index: 100;
}
.lightbox-overlay.active {
  opacity: 1;
  visibility: visible;
}
.lightbox-overlay-content {
  text-align: center;
}
.lightbox-overlay-content img {
  width: 85%;
}

/* ############ Business Page : fire-safety.html ############ */

/* Section: Fire Safety */
.fire-safety-items {
  display: flex;
  gap: 30px;
}
.fire-safety-item {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
/* Desc Common */
.desc.main-desc,
.desc.sub-desc {
  line-height: 1.6em;
}
.desc.sub-desc {
  padding-bottom: 20px;
  border-bottom: 1px solid var(--border-color);
}
.desc.sub-desc:last-child {
  border: none;
}
.desc.main-desc span,
.desc.sub-desc span {
  display: inline-block;
  color: #fff;
  padding: 0 4px;
  margin-bottom: 10px;
}
.desc.main-desc span {
  background-color: var(--main-desc-bgc);
}
.desc.sub-desc span {
  background-color: var(--sub-desc-bgc);
}
.fire-safety-items .thum img {
  width: 100%;
}

/* Section: Fire Inspect */
.fire-inspect-items {
  display: flex;
  gap: 30px;
}
.fire-inspect-item {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.fire-inspect-item .thum img {
  width: 100%;
}

/* Section: Fire Construct */
.fire-construct-items {
  display: flex;
  gap: 30px;
}
.fire-construct-item {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.fire-construct .thum img {
  width: 100%;
}
.desc.sub-desc em {
  font-weight: normal;
  color: #000;
}

/* Section: Poster */
.fire-poster-item img {
  width: 100%;
}


/* ############ Business Page : welfare.html ############ */

/* Section: Welfare */
.welfare-free {
  margin-bottom: 40px;
}
.welfare-free h3 {
  font-weight: bold;
}
.welfare-free h3 span {
  color: var(--davy-gray);
}
.welfare-free h3 b {
  color: #3057b9;
}
.welfare-free h3 em {
  color: #ff0000;
}
.welfare-items {
  display: flex;
  gap: 30px;
}
.welfare-item {
  flex: 1;
}
.welfare-item p {
  line-height: 1.5em;
}
.welfare-item b {
  display: block;
  margin-top: 20px;
  text-align: center;
}
.welfare-item img {
  width: 100%;
}

/* Section: Service */
.service-items {
  display: flex;
  gap: 30px;
}
.service-item {
  flex: 1;
}
.service-item .thum img {
  width: 100%;
}

/* Section: Visit */
.visit-items {
  display: flex;
  gap: 30px;
}
.visit-item {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.visit-item .thum img {
  width: 100%;
}

/* Section: Cost */
.cost-item:first-child {
  margin-bottom: 70px;
}
/* Table CSS */
.cost-table {
  border-collapse: collapse;
  border: 1px solid var(--border-color);
  border-top: 2px solid var(--primary-color);
  background-color: #fff;
  text-align: center;
  width: 100%;
  table-layout: fixed;
}
.cost-table tr th,
.cost-table tr td {
  border: 1px solid var(--border-color);
  padding: 14px;
}
.cost-table tr th {
  color: var(--primary-color);
}
.table-caption {
  margin-top: 10px;
  color: var(--gray);
  line-height: 1.6em;
}
.table-caption em {
  display: none;
}
.table-caption span {
  display: block;
}

/* Section: Welfare Poster */
.welfare-poster-item:first-child {
  margin-bottom: 70px;
}
.welfare-poster-item ul {
  line-height: 1.6em;
}

/* ############ Performance Page : performance-outcome.html ############ */

/* Section: Performance List */
.performance-list-items {
  display: flex;
  gap: 30px;
}
.performance-list-item {
  flex: 1;
}
.performance-list-title {
  width: 100%;
  background-color: var(--performance-bgc);
  color: #fff;
  padding: 20px;
  margin-bottom: 32px;
}
.performance-list-desc-item {
  border-bottom: 1px dashed var(--gray);
  padding: 8px 0;
}
.performance-list-desc-item ul li {
  line-height: 1.5em;
}
.performance-list-desc-item ul li:first-child {
  font-weight: normal;
}
.performance-list-desc-item ul li:last-child {
  color: var(--gray);
}

/* Section: Performance News */
.performance-news-items {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.performance-news-item {
  border: 1px solid var(--border-color);
}
.small-news-wrapper {
  display: flex;
  gap: 20px;
}
.performance-news-item img {
  width: 100%;
  display: block;
}

/* ############ Estimate Page : fire-estimate.html, home-care.html, recruit.html ############ */

/* Form Common CSS */
.form-headline {
  margin-bottom: 40px;
}
.form-headline h5 {
  background-color: var(--form-headline-bgc);
  padding: 20px;
  color: #fff;
  font-weight: 500;
  font-size: 18px;
  margin-top: 20px;
}
.input-field {
  margin: 20px 0;
}
.input-field.row-field {
  display: flex;
  gap: 20px;
}
.input-field.row-field > div {
  flex: 1;
}
.input-field label span {
  display: block;
  margin-bottom: 5px;
  font-weight: 400;
}
.input-field label span b {
  color: var(--form-headline-bgc);
}
.input-field label input,
.input-field label select,
.input-field label textarea {
  width: 100%;
  padding: 10px;
  background-color: #f9f9f9;
  border: 1px solid #e5e5e5;
  font-size: 14px;
  color: var(--dark-black);
}
.input-field label select {
  padding: 9px;
}
.input-field label input,
.input-field label textarea {
  transition: .2s;
}
.input-field label input:focus,
.input-field label textarea:focus {
  box-shadow: 0 0 3px var(--primary-color);
}
.send-mail {
  padding: 10px 24px;
  font-size: 15px;
  color: #fff;
  background-color: var(--davy-gray);
  transition: .2s;
}
.send-mail:hover {
  background-color: var(--dark-black);
}
.mail-form em {
  display: block;
  margin: 10px 0 20px 0;
}